#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.github-logo {
  height: 32px;
  width: 32px;
  border-radius: 0.25rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: start;
}

.input-row {
  display: flex;
  column-gap: 0.5rem;
}

.input-row input {
  height: 38px;
  padding: 0.6em 1.2em;
  box-sizing: border-box;
}

button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

.remove-input {
  padding: 0.6em;
  min-width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
